.banner-profile {
    background: #ffffff;
    width: 100vw;
    height: 220px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.banner-profile--portada {
    background: #f8ff64;
    width: 100%;
    height: 150px;
}

.banner-profile--photo {
    position: absolute;
    top: 50%;
}
